.postshare{
    background-color: purple;
    display:flex;
    gap:1rem;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 3px rgba(0,0,0.9);
    padding: 1rem;
}
.postshare>img{
    width: 2.5rem;
    height: 2.5rem;
    object-fit: cover;
    border-radius: 50%;
}
.postshare>div{
    display: flex;
    flex-direction: column;
    width: 99%;
    gap:1rem;
}
.postshare>div>input{
    background-color: rgb(242, 232, 242);
   padding: 0.5rem;
   font-size: 16px;
   border-radius: 10px;
   outline: none;
   border: none;
}
.postoptions{
    display: flex;
    gap:1rem;
    justify-content: space-around;
}
.option{
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    padding-left:0.5rem;
    padding-right:0.5rem;
    gap:4px
}
.option:hover{
    cursor: pointer;
}
.sharebutton{
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 13px;
}
.previewimage{
    display: relative;
    background-color: greenyellow;
}
.close{
    /* position: absolute;
    right: 1rem;
    top:0.5rem;
    cursor: pointer; */
}
.previewimage>img{
    width: 100%;
    max-height: 20rem;
    object-fit: cover;
    border-radius: 0.5rem;;
}